snippet def
def ${1}(${2}) do
  ${VISUAL}${0}
end
endsnippet

snippet defm
defmodule ${1} do
  ${VISUAL}${0}
end
endsnippet

snippet for
for ${1:item} <- ${2:items} do
  ${0}
end
endsnippet

snippet impl
defimplement ${1:Collectable} do
  def into(orig)
    ${VISUAL}${0}
  end
end
endsnippet


