snippet def
def ${1}${2:(${3})} do
  ${VISUAL}${0}
end
endsnippet

snippet idef
def ${1}${2:(${3})}, do: ${VISUAL}${0}
endsnippet

snippet mod
defmodule ${1} do
  ${VISUAL}${0}
end
endsnippet

snippet for
for ${1:item} <- ${2:items} do
  ${0}
end
endsnippet

snippet ifor
for ${1:item} <- ${2:items}, do: ${0}
endsnippet

snippet str
defstruct(
  ${1}: ${2}
  ${0}
endsnippet

